.index[b-9y6bmt9txo] {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}
.layout[b-9y6bmt9txo] {
    width: 400px;
    display: flex;
    padding: 50px 40px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
}
    .layout[b-9y6bmt9txo]  h1 {
        width: 160px;
        font-weight: 700;
        margin: 25px auto;
    }
    .layout[b-9y6bmt9txo]  button {
        width: 320px;
    }
    .layout[b-9y6bmt9txo]  ant-form-item-control-input-content {
        width: 320px;
    }
