.modelDiv[b-ngg6e3x3q9] {
    display:flex;
    flex-direction:column;
    align-items:center;
}
    .modelDiv .nameDiv[b-ngg6e3x3q9] {
        margin-bottom:5px;
    }
.containerDiv[b-ngg6e3x3q9] {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
    .containerDiv .topDiv[b-ngg6e3x3q9] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }